.header{
    width: 100vw;
    margin: 0 auto;
}

.header__select{
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.header__select--selection{
    padding: .2rem;
    border: none;
    width: 100vw;
    font-size: 11px;
    font-weight: 100;
    font-family: Arial;
    color: #858585;
    text-align: center;
    appearance: none;
    background-color: #fff;
}

.header__select--selection_option{
    color: #000;
}

.header__logo{
    margin: 0 auto;
    display: block;
    margin-top: 3.1rem;
    width: 10.94rem;
    height: 3.2rem;
}