@import url(reset.css);
@import url(header/header.css);
@import url(content/content.css);
@import url(footer/footer.css);

main{
    max-width: 375px;
    max-height: 667px;
    margin: 0 auto;
}

@media screen and (min-width: 375px){
}